@font-face {
    font-family: "Consolas";
}

:root {
    --font: "Consolas";
    --background: #2e3440;
    --foreground: #eceff4;
    --pink: #b48ead;
    --red: #bf616a;
    --blue: #8fbcbb;
    --branch: 1px solid #4c566a;
}

body {
    background: var(--background);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

button:focus {outline:0;}
.form:focus {outline:0;}

.box {
  display: inline-block;
  position: fixed;
  border: 1px solid #eceff4;
  margin-left: 10px;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.button {
    background-color: #2e3440;
    color: #eceff4;
    border: 1px solid #eceff4;
    padding: 5px 10px;
    display: inline-block;
    font-family: var(--font);
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
  }

/* .button:active {
background-color:#eceff4;
color:#2e3440;
border: 1px solid #eceff4;
}*/

.button:disabled {
    background-color: #8C9199;
    color: #eceff4;
    border: 1px solid #eceff4;
}

.tableLeft {
    float:left
}

.tableRight {
    float:right
}

.count {   
    margin: 30px 30px;
    display: inline-block;
    font-family: var(--font);
    font-size: 40px;
    font-weight: normal;
    color: #eceff4;
}

p {
    color: #eceff4;
    font-size: 12px;
    font-family: var(--font);
}

.sub {
    color: #8C9199;
    font-size: 12px;
    font-family: var(--font);
}

.form {
    width: 10%;
    font-family: var(--font);
    color: #eceff4;
    background: transparent;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #eceff4;
}

label {
    color: #eceff4;
    font-size: 12px;
    font-family: var(--font);
}

h1 {
    display: inline-block;
    font-family: var(--font);
    font-size: 20px;
    font-weight: normal;
    color: #eceff4;
}

.materials {
    height: 350px;
}

.inventory {
    top: 468px;
    height: 350px;
    margin-top: 10px;
}

.buyMaterials {
    top: 838px;
    height: 350px;
    margin-top: 10px;
}

.book {
    left: 380px
}
