@font-face {
    font-family: "Consolas";
}

:root {
    --font: "Consolas";
    --background: #2e3440;
    --foreground: #eceff4;
    --pink: #b48ead;
    --red: #bf616a;
    --blue: #8fbcbb;
    --branch: 1px solid #4c566a;
}

body {
    background: var(--background);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

button:focus {outline:0;}

.box {
  position: fixed;
  border: 1px solid #eceff4;
  margin-left: 10px;
  width: 350px;
  padding: 10px;
}

.button {
    background-color: #2e3440;
    color: #eceff4;
    border: 1px solid #eceff4;
    padding: 5px 10px;
    display: inline-block;
    font-family: var(--font);
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
  }

.button:active {
background-color:#eceff4;
color:#2e3440;
border: 1px solid #eceff4;
}

.count {   
    margin: 30px 30px;
    display: inline-block;
    font-family: var(--font);
    font-size: 40px;
    font-weight: normal;
    color: #eceff4;
}

h1 {
    display: inline-block;
    font-family: var(--font);
    font-size: 20px;
    font-weight: normal;
    color: #eceff4;
}

.materials {

}

.book {
    left: 380px
}
